body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
    margin: 20px auto;
}

#master {
    display: flex;
    justify-content: center;
    gap: 50px;
}

ol {
    text-align: left;
    font-size: 14px;
}

#container {
    width: 600px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px dotted black;
    /* 
        use flexbox with flex-wrap so that each row of outer box only can fit 16 boxes.
        other boxes will go into next row accordingly until all rows are completely filled.
    */
    display: flex;
    flex-wrap: wrap;
}

/* 
    CSS style will be applied accordingly once JavaScript event is triggered.
*/
#container div {
    box-sizing: border-box;
    /* border: 0.5px dotted black; */
}