body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 850px;
    padding: 30px 0;
}

input[type="button"] {
    display: block;
    margin: 0 auto;
    margin: 50px auto;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: red;
    font-weight: 600;
}

#sketch-pad {
    width: 800px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#sketch-pad > div {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 2px dotted white;
    background-color: aliceblue;
}